@font-face {
  font-family: 'Noveo Sans Black';
  src: url('../fonts/Fontspring-DEMO-NoveoSans-Black.otf') format('opentype');
}

html,
body {
	margin: 0;
	padding: 0;
}

ul {
	margin: 20px;
	-webkit-padding-start: 0;
}

ul.albums {
	list-style: none;
}

.cover {
	width: 200px;
	height: 200px;
	display: inline-block;
	margin-right: 20px;
}

/* xx - The xx */
#canvas-xx {
	position: relative;
	background: #000;
}

#canvas-xx .cross {
	position: absolute;
	width: 158px;
	height: 33px;
	left: 21px;
	top: 84px;
	background: #fff;
	transform: rotate(45deg);
}

#canvas-xx .cross:after {
	content: '';
	position: absolute;
	width: 158px;
	height: 33px;
	background: #fff;
	transform: rotate(-90deg);
}

/* Blackstar - David Bowie */
#canvas-blackstar {
	position: relative;
	background: #fff;
}

#canvas-blackstar .main-star {
	position: absolute;
	left: 23px;
	top: 64px;
	border-left: 77px solid transparent;
	border-right: 77px solid transparent;
	border-bottom: 58px solid rgb(26, 23, 24);
	transform: rotate(36deg);
}

#canvas-blackstar .main-star:before {
	content: '';
	border-left: 77px solid transparent;
	border-right: 77px solid transparent;
	border-bottom: 58px solid rgb(26, 23, 24);
	position: absolute;
	transform: rotate(-74deg);
	top: 2px;
	left: -80px;
}

#canvas-blackstar .main-star:after {
	content: '';
	border-left: 18px solid transparent;
	border-right: 18px solid transparent;
	border-bottom: 56px solid rgb(26, 23, 24);
	position: absolute;
	transform: rotate(-37deg);
	top: -38px;
	left: -50px;
}

#small-star-list {
	margin: 0;
	list-style: none;
	position: absolute;
	bottom: 3px;
	left: 45px;
}

#small-star-list li {
	display: inline-block;
	position: relative;
	width: 15px;
	height: 15px;
}

#small-star-1 {
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	border-bottom: 6px solid rgb(26, 23, 24);
	transform: rotate(-107deg);
}

#small-star-2 {
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	border-bottom: 6px solid rgb(26, 23, 24);
	transform: rotate(36deg);
}

#small-star-2:before {
	content: '';
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	border-bottom: 6px solid rgb(26, 23, 24);
	position: absolute;
	transform: rotate(-74deg);
	top: 0px;
	left: -8px;
}

#small-star-2:after {
	content: '';
	border-left: 2px solid transparent;
	border-right: 2px solid transparent;
	border-bottom: 6px solid rgb(26, 23, 24);
	position: absolute;
	transform: rotate(-37deg);
	top: -4px;
	left: -5px;
}

#small-star-3 {
	border-left: 2px solid transparent;
	border-right: 12px solid transparent;
	border-bottom: 8px solid rgb(26, 23, 24);
	transform: rotate(-34deg);
	margin-top: -3px;
}

#small-star-3:after {
	content: '';
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 3px solid #fff;
	position: absolute;
	top: 3px;
	left: -5px;
	transform: rotate(-76deg);
}

#small-star-4 {
	border-left: 2px solid transparent;
	border-right: 12px solid transparent;
	border-bottom: 8px solid rgb(26, 23, 24);
	transform: rotate(-183deg);
	position: absolute;
	left: -3px;
}

#small-star-4:after {
	content: '';
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 3px solid #fff;
	position: absolute;
	top: 3px;
	left: -5px;
	transform: rotate(-76deg);
}

#small-star-5 {
	border-left: 2px solid transparent;
	border-right: 12px solid transparent;
	border-bottom: 8px solid rgb(26, 23, 24);
	transform: rotate(-107deg);
	position: absolute;
	left: -6px;
	top: -2px;
}

#small-star-5:after {
	content: '';
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 3px solid #fff;
	position: absolute;
	top: 3px;
	left: -5px;
	transform: rotate(-76deg);
}

#small-star-6 {
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	border-bottom: 6px solid rgb(26, 23, 24);
	transform: rotate(-107deg);
	position: absolute;
	left: -11px;
}

#small-star-6:after {
	content: '';
	border-left: 2px solid transparent;
	border-right: 6px solid transparent;
	border-bottom: 4px solid rgb(26, 23, 24);
	position: absolute;
	left: -3px;
	top: 5px;
	transform: rotate(70deg);
}

#canvas-i-love-you-dude {
	background: #fff;
	position: relative;
}

#canvas-i-love-you-dude .title {
	margin-left: 12px;
	font-family: 'Noveo Sans Black';
	position: absolute;
	letter-spacing: 0.05em;
	text-align: center;
}

#canvas-i-love-you-dude .title h4 {
	font-size: 7px;
	margin: 12px 0 0 0;
}

#canvas-i-love-you-dude .title h5 {
	font-size: 7px;
	line-height: 0.9em;
	margin: 0.5em 0;
}

#canvas-i-love-you-dude .main-rect {
	background: #000;
	width: 74px;
	height: 31px;
	position: absolute;
	left: 63px;
	bottom: 89px;
}

#canvas-i-love-you-dude .main-rect:before,
#canvas-i-love-you-dude .main-rect:after {
	content: '';
	border-left: 18px solid transparent;
	border-right: 19px solid transparent;
	border-bottom: 11px solid #000;
	position: absolute;
	top: -11px;
}

#canvas-i-love-you-dude .main-rect:after {
	left: 37px;
}

#canvas-i-love-you-dude .triangle {
	width: 0;
	border-left: 37px solid transparent;
	border-right: 37px solid transparent;
	border-top: 21px solid #000;
	position: absolute;
	left: 63px;
	bottom: 68px;
}